
body {
    background-color: #d6d9dada;
    
    margin-top: 70px;
}

.navbar {
    padding-top: 20px;
}

.navStyle {
    background-color: #1d3557;
    color: #f4f1de;
}

li a {
    color: #f4f1de;
    
}

#profilePic {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    position: absolute;
    margin-top: 150px;
    box-shadow: 0px 5px 5px black;
   
}

#cv-download {
    position: absolute;
    right: 15%;
    bottom: 240px;
}

.first {
    background-color: teal;
    height: 500px;
    overflow: visible;
}

.second {
    background-color: tomato;
    height: 250px;
    /* position: relative; */
}





