<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	<title>AD - CV</title>
</head>

<body>
	<!-- nav bar here, collaspable, few links -->
	<!-- link to github and linkedin, use of symbols -->
	<li>nav links</li>
	<li>cv home</li>
	<li>about</li>
	<li>skills</li>
	<li>education</li>
	<li>contact</li>


	<!-- Main Content -->

	<div class="container">

		<!-- profile photo positioning  -->
		<div>
			<a href="https://www.linkedin.com/in/aaron-dalzell/" target="_blank"><img src="imgs/profilepic.jpg"
					id="profilePic" alt=""></a>
			<button id="cv-download">Download CV</button>
		</div>

		<div>
			<h1>Aaron Dalzell</h1>
			<h1>CV</h1>

			<p>Here is a short intro, personal statement?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt voluptatibus hic repudiandae natus at.
				Reprehenderit consequuntur, minima provident debitis consequatur, facere harum, fugiat corrupti
				repudiandae
				neque
				aut laborum dolorem excepturi!</p>
		</div>
	</div>

	<!-- <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/aaron-dalzell/">LinkedIn</a> -->

	<!-- PAGE FOOTER -->

	<footer>
		<div class="container">
			<ul> Contact Details
				<li class="nav-item">Email: aarondalzell16@gmail.com</li>
				<li class="nav-item">Phone: 07857283758</li>
			</ul>
		</div>
	</footer>

	<!-- color scheme, plain and professional -->
	<!-- find font (font awesome) -->


	<!-- some DOM effects -->

</body>

</html>